src/main/mule/send-data-sequencial.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="75de99b7-e091-44a2-9eba-8f06eae844e9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="send-data-sequencialFlow" doc:id="f51fe516-1674-4e2d-bc58-8d382bfa4ed4" >
		<http:listener doc:name="Listener" doc:id="98d9f512-0689-438c-a0f0-e28e91151902" config-ref="HTTP_Listener_config" path="/sendDataSequencial" allowedMethods="POST"/>
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="5a847be2-7fe7-4e15-9190-edbbf88e48f4" variableName="data"/>
		<ee:transform doc:name="to csv" doc:id="aba22527-770f-46c9-b698-bd386a553dbe" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv header=false
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="to CSV" doc:id="b3b9b06a-edcc-49ce-a922-995b768b8ceb" path="C:\Users\YAtmule\Documents\Mule_Projects\SendData\Sequencial.csv" mode="APPEND"/>
		<ee:transform doc:name="to JSON" doc:id="da45401c-6d44-4d93-a0bf-16b94178f83e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.data]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<file:write doc:name="to JSON" doc:id="845374d9-35c8-48d5-a5e4-62ebfc327eaa" path="C:\Users\YAtmule\Documents\Mule_Projects\SendData\Sequencial.json" mode="APPEND"/>
		<logger level="INFO" doc:name="Logger" doc:id="05c9faad-c457-4532-8e52-e0f80d995e31" message="Data sent successfuly"/>
		<ee:transform doc:name="Transform Message" doc:id="b04ae5fc-9df8-42ed-a6b0-ea1fe3fd6c9f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	'Message': 'Data has been written successfuly',
	'code': 200
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
